<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebEX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WebEX.Properties.Settings>
            <setting name="apiKey" serializeAs="String">
                <value>63b657771a674859a86e5a85cf5a8fcc</value>
            </setting>
            <setting name="startAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="debugData" serializeAs="String">
                <value>True</value>
            </setting>
        </WebEX.Properties.Settings>
    </userSettings>
</configuration>